*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    font-family:"Open Sans", sans-serif;
    font-optical-sizing: autos;
}
.mary h2{
    font-size: 45px;



}
.color-orange{
    color:#FD6E0A;

}

.header{
    background-color:#FFF8F3;
     padding-top:50px; 
}
nav{
    display: flex;
   
    justify-content: space-between;
    width:71%;
    max-width:1140px;
    height: 65px;
    margin:0px auto;
    align-items:center;
   
}
.btn{
    color:white;background-color:#FD6E0A;font-size: 20px; text-align: center;padding:18px 35px; border:none;border-radius: 5px;font-weight: bold;
}
nav ul{
    display :flex;
    gap:51px;
    list-style-type: none;
    align-items: center;;
}
nav ul a{
    font-size:20px;
    color:#474747;
    text-decoration:none;
}