*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    font-family:"Open Sans", sans-serif;
    font-optical-sizing: autos;
}
.mary h2{
    font-size: 45px;



}
.color-orange{
    color:#FD6E0A;

}

.header{
    background-color:#FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position:top left,bottom right;
    background-repeat: no-repeat;
     padding-top:50px; 
}
nav{
    display: flex;
   
    justify-content: space-between;
    width:71%;
    max-width:1140px;
    height: 65px;
    margin:0px auto;
    align-items:center;
   
}
.btn{
    color:white;background-color:#FD6E0A;font-size: 20px; text-align: center;padding:18px 35px; border:none;border-radius: 5px;font-weight: bold;
}
nav ul{
    display :flex;
    gap:51px;
    list-style-type: none;
    align-items: center;;
}
nav ul a{
    font-size:20px;
    color:#474747;
    text-decoration:none;
}
.banner{
   
    margin :46px 38px 0px 230px;
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}
.banner1 h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner1 h1{
    font-size:85px;
    font-weight:bold;
    color:#181818;
    margin-bottom:20px;
}
.banner1 p{
    font-size: 18px;
    font-weight:400;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;

}
.image img{
    width: 584px;
    height:676px;
    vertical-align: middle;
}