*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    font-family:"Open Sans", sans-serif;
    font-optical-sizing: autos;
}
.mary h2{
    font-size: 45px;



}
.color-orange{
    color:#FD6E0A;

}

.header{
    background-color:#FFF8F3;
    background: url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position:23px 38px,bottom right;
    background-repeat: no-repeat;
     padding-top:50px; 
}
nav{
    display: flex;
   
    justify-content: space-between;
    width:71%;
    max-width:1140px;
    height: 65px;
    margin:0px auto;
    align-items:center;
   
}
.btn{
    color:white;background-color:#FD6E0A;font-size: 20px; text-align: center;padding:18px 35px; border:none;border-radius: 5px;font-weight: bold;
}
.text-center{
    text-align: center;
}
nav ul{
    display :flex;
    gap:51px;
    list-style-type: none;
    align-items: center;;
}
nav ul a{
    font-size:20px;
    color:#474747;
    text-decoration:none;
}
.banner{
   
    margin :46px 38px 0px 230px;
    display:flex;
    align-items: center;
    justify-content: space-between;
   
}
.banner1 h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
.banner1 h1{
    font-size:85px;
    font-weight:bold;
    color:#181818;
    margin-bottom:20px;
}
.banner1 p{
    font-size: 18px;
    font-weight:400;
    color:#757575;
    line-height: 30px;
    margin-bottom: 30px;

}
.image img{
    width: 584px;
    height:676px;
    vertical-align: middle;
}
.about-section{
    padding-top:130px;
}
.about-div{
    padding:131px 157px;
    border: 1px solid black;
    text-align: center;
background: #FFF8F3;
    max-width: 1140px;
    width:71%;
    margin:0 auto;
    
}
.selection h3{
    margin-bottom:30px;
    font-size:35px;
    font-weight:bold;
}
.selection p{
  font-size:18px;
    font-weight:400;
     margin-bottom:30px;
     color: #757575;
     line-height: 30px;

}
.info{
    display:flex;
   justify-content: space-around;
}
.info div p{
      font-size:20px;
    font-weight:400;
    margin-bottom: none;
     color: #757575;
     line-height: 30px;
}
.info div h4{
    font-size:20px;
    color:#474747;
}
.do,.resume{
    padding-top:130px;
   


}
.do-div{
    max-width: 1140px;
    width: 71%;
    margin:0px auto;
    text-align: center;
    justify-content: center;
}
.section h3{
    margin-bottom: 30px;
    
}
.do-div .section p{
    margin-bottom: 50px;
    max-width: 827px;
  
    height: 90px;
}
.do-div .section{
    max-width: 1140px;
}
.skill{
    display:flex;
    gap:24px;
    text-align:left;
    max-width: 1140px;
   height: 377px;
   padding: 30px;
   margin:0 auto;
   justify-content: space-evenly;
  
   

}
.skill .skills img {
    max-width: 44px;
    max-height: 44px;;
    margin-bottom:30px;
}
.skill .skills h5{
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.skill .skills p{
    font-size: 16px;
    font-weight:400;
    color: #757575;
    max-width: 201px;
     
}
.skill .skills{
    max-width: 267px;
    height: 377px;
     
    
}
.resume-heading{
    font-size:35px;
    font-weight:bold;
    color:#181818;
    text-align: center;
}
.r-container{
    display: flex;
    margin:113px auto 0px;
    width:71%;
    max-width:1140px;
    gap:24px;

}
.r-container h3{
    margin-bottom: 30px;
     font-size:30px;
    font-weight:bold;
    color:#474747;
    
}
.experience h4{
    font-size:25px;
    font-weight:bold;
    color:#474747;
    margin-bottom: 10px;

}
.education h4{
    font-size:25px;
    font-weight:bold;
    color:#474747;
    margin-bottom: 10px;

}
.r-info{
    font-size:20px;
    font-weight:600;
    color:#757575;
    margin-bottom: 20px;
}
.r-container p{
     font-size:16px;
    font-weight:400;
    margin-bottom: none;
     color: #757575;
     line-height: 28px;
}
.r-container hr{
    margin:30px 0px;
}
.footer-container{
    margin-top:113px ;
    padding: 130px 230px;
    background-color: #FFF8F3;
    display: flex;
    gap:117px;


}
.f1 p{
    
   max-width: 562px;
   font-size: 16px;
   color: #757575;
   line-height: 28px;
   font-weight: 400;
   margin-bottom: 30px;

}
.f1 h3{
    font-size: 35px;
    color:#181818;
    font-weight: bold;
    margin-bottom: 20px;
}
.icon{
    display: flex;
    gap :24px
}
.f-text input[type="text"]{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;

    border-radius: 5px;
}
.f-text input[type="email"],.f-textarea textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;

    border-radius: 5px;
}